<div class="row">
  <div class="col-md-6 mx-auto text-center">
    <div class="mt-5 mb-4">
      <i class="fas fa-exclamation-circle text-danger" style="font-size: 5rem;"></i>
    </div>
    
    <h1 class="display-4 mb-4">오류가 발생했습니다</h1>
    <p class="lead mb-4"><%= message %></p>
    
    <a href="/" class="btn btn-primary">홈으로 돌아가기</a>
  </div>
</div>